<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
</head>
<body>
    <h1>TV Show {{one_show.id}}</h1>
    <h2>Title:{{one_show.title}}</h2>
    <h2>Network:{{one_show.network}}</h2>
    <h2>Release Date:{{one_show.release_date}}</h2>
    <h2>Description:{{one_show.description}}</h2>
    <br><br><br>
    <h2>Last Updated:{{one_show.updated_at}}</h2>
    <p><a href="/shows/{{one_show.id}}/edit" >Edit</a>|<a href="delete/{{one_show.id}}">Delete</a></p>
    <p><a href="/shows">Go Back</a> </p>
</body>
</html>