<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <nav>
        <div class="left">
            <h1>Arbortary</h1>
            <p>A site to track randomly planted trees</p>
        </div>
        <div class="middle">
            <a href="/user/account">My Trees</a>
        </div>
        <div class="right">
            <h2>Welcome, {{availableuser.first_name}}!</h2>
            <a href="/dashboard"><button>Dashboard</button></a>
            <a href="/logout"><button>Log out</button> </a>
        </div>
    </nav><br><br>
    <div class="edittree">
        <h1>Re-Plant Your Tree </h1><br>
        {% for message in messages %}
        <p>{{message}}</p> 
        {% endfor %}
        <form action="/update/{{edittree.id}}" method="post">
            {% csrf_token %}
            <h4>Species:</h4>
            <input type="text" name="spieces" onfocus="this.value=''" value="{{edittree.species}}">
            <h4>Location:</h4>
            <input type="text" name="location" onfocus="this.value=''" value="{{edittree.location}}">
            <h4>Reason:</h4>
            <input type="text" name="reason" maxlength="50" onfocus="this.value=''" value="{{edittree.reason}}">
            <h4>Date Planted:</h4>
            <input type="date" name="date" required onfocus="this.value=''" value="{{edittree.date_planted}}"><br><br>
            <input type='submit' value="Update">
        </form>
    </div>
</body>
</html>