<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <main>
        <div>
            <form action="/register"method='post'>
                    {% csrf_token %}
                <h1>Register</h1>
                {% for message in messages %}
                <p>{{message}}</p> 
                {% endfor %}  
                <h4>First Name: </h4>
                <input type="text"name="fname"> <br>
                <h4>Last Name: </h4>
                <input type="text"name="lname"> <br>
                <h4>Email:</h4> 
                <input type="email"name="email"> <br>
                <h4>Password:</h4> 
                <input type="password"name="pass1"> <br>
                <h4>Confirm PW:</h4>
                <input type="password"name="pass2"> <br><br>
                <input type="submit" value='Register'>
            </form>
        </div>
        <div>
            <form action="/login"method='post'>
                    {% csrf_token %}
                <h1>Login</h1>
                <h4>Password:</h4> 
                <input type="email"name="email"> <br>
                <h4>Password:</h4>
                <input type="password"name="pass"> <br><br>
                <input type="submit" value='Login'>
            </form>
        </div>
    </main>
</body>
</html>