<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <table >
        <thead>
            <td><strong>First Name</strong></td>
            <td><strong>Last Name</strong></td>
            <td><strong>Full Name</strong></td>
            
        </thead>
        {%for i in students%}
        <tr>
            <td>{{i['first_name']}}</td>
            <td>{{i['last_name']}}</td>
            <td>{{i['first_name']+" "+i['last_name']}}</td>
        </tr>
        {%endfor%}

    </table>
</body>
</html>