<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <p>Name: {{request.session.name12}}</p>
    <p>Dojo Location: {{request.session.location12}}</p>
    <p>Favourite language:{{request.session.language12}}</p>
    <p>Comment: {{request.session.comment12}}</p>
    <input type="submit" value="Go Back" class="button">
</body>
</html>